In [2]:
import pandas as pd
df = pd.read_csv("datas/union_datas.csv")
df.head

<bound method NDFrame.head of        2.82  000210  2019-08-20 2019-08-20.1  1
0     29.60  264660  2019-08-20   2019-08-20  1
1      1.50  241790  2019-08-20   2019-08-20  1
2      4.03  214450  2019-08-20   2019-08-20  0
3      0.00   17940  2019-08-21   2019-08-21  1
4      3.78  143540  2019-08-21   2019-08-21  1
...     ...     ...         ...          ... ..
4360  -1.62   78000  2022-08-18   2022-08-18  1
4361   0.00   32860  2022-08-18   2022-08-18  1
4362  -0.68  100090  2022-08-19   2022-08-19  1
4363  -0.49   68270  2022-08-19   2022-08-19  1
4364   1.22   86980  2022-08-19   2022-08-19  1

[4365 rows x 5 columns]>

In [3]:
df.columns =["fluctuation", "ticker", "reception_date", "registration_date", "check_contract"]
df.head()

   fluctuation  ticker reception_date registration_date  check_contract
0        29.60  264660     2019-08-20        2019-08-20               1
1         1.50  241790     2019-08-20        2019-08-20               1
2         4.03  214450     2019-08-20        2019-08-20               0
3         0.00   17940     2019-08-21        2019-08-21               1
4         3.78  143540     2019-08-21        2019-08-21               1

In [10]:
## fluctuation 0을 기준으로 1, 0으로 new_fluctuation 구분하기

for i in range(len(df)):
    if df.loc[i, 'fluctuation'] >= 0:
        df.loc[i, 'new_fluctuation'] = 1
    else:
        df.loc[i, 'new_fluctuation'] = 0

df.head()

,fluctuation,ticker,reception_date,registration_date,check_contract,new_fluctuation
0,29.60,264660,2019-08-20,2019-08-20,1,1
1,1.50,241790,2019-08-20,2019-08-20,1,1
2,4.03,214450,2019-08-20,2019-08-20,0,1
3,0.00,17940,2019-08-21,2019-08-21,1,1
4,3.78,143540,2019-08-21,2019-08-21,1,1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4365 entries, 0 to 4364
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fluctuation        4365 non-null   float64
 1   ticker             4365 non-null   int64
 2   reception_date     4365 non-null   object
 3   registration_date  4365 non-null   object
 4   check_contract     4365 non-null   int64
 5   new_fluctuation    4365 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 204.7+ KB

In [13]:
new_df = df.astype({'new_fluctuation' : int})
new_df

,fluctuation,ticker,reception_date,registration_date,check_contract,new_fluctuation
0,29.60,264660,2019-08-20,2019-08-20,1,1
1,1.50,241790,2019-08-20,2019-08-20,1,1
2,4.03,214450,2019-08-20,2019-08-20,0,1
3,0.00,17940,2019-08-21,2019-08-21,1,1
4,3.78,143540,2019-08-21,2019-08-21,1,1
...,...,...,...,...,...,...
4360,-1.62,78000,2022-08-18,2022-08-18,1,0
4361,0.00,32860,2022-08-18,2022-08-18,1,1
4362,-0.68,100090,2022-08-19,2022-08-19,1,0
4363,-0.49,68270,2022-08-19,2022-08-19,1,0
4364,1.22,86980,2022-08-19,2022-08-19,1,1

In [14]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4365 entries, 0 to 4364
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fluctuation        4365 non-null   float64
 1   ticker             4365 non-null   int64
 2   reception_date     4365 non-null   object
 3   registration_date  4365 non-null   object
 4   check_contract     4365 non-null   int64
 5   new_fluctuation    4365 non-null   int32
dtypes: float64(1), int32(1), int64(2), object(2)
memory usage: 187.7+ KB

In [17]:
## new_fluctuation 데이터 타입 float -> int64 로 변경

new_df = df.astype({'new_fluctuation' : 'int64'})
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4365 entries, 0 to 4364
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fluctuation        4365 non-null   float64
 1   ticker             4365 non-null   int64
 2   reception_date     4365 non-null   object
 3   registration_date  4365 non-null   object
 4   check_contract     4365 non-null   int64
 5   new_fluctuation    4365 non-null   int64
dtypes: float64(1), int64(3), object(2)
memory usage: 204.7+ KB

In [18]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4365 entries, 0 to 4364
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fluctuation        4365 non-null   float64
 1   ticker             4365 non-null   int64
 2   reception_date     4365 non-null   object
 3   registration_date  4365 non-null   object
 4   check_contract     4365 non-null   int64
 5   new_fluctuation    4365 non-null   int64
dtypes: float64(1), int64(3), object(2)
memory usage: 204.7+ KB

In [19]:
new_df

,fluctuation,ticker,reception_date,registration_date,check_contract,new_fluctuation
0,29.60,264660,2019-08-20,2019-08-20,1,1
1,1.50,241790,2019-08-20,2019-08-20,1,1
2,4.03,214450,2019-08-20,2019-08-20,0,1
3,0.00,17940,2019-08-21,2019-08-21,1,1
4,3.78,143540,2019-08-21,2019-08-21,1,1
...,...,...,...,...,...,...
4360,-1.62,78000,2022-08-18,2022-08-18,1,0
4361,0.00,32860,2022-08-18,2022-08-18,1,1
4362,-0.68,100090,2022-08-19,2022-08-19,1,0
4363,-0.49,68270,2022-08-19,2022-08-19,1,0
4364,1.22,86980,2022-08-19,2022-08-19,1,1

In [33]:
##머신러닝 알고리즘 트레이닝을 할때, sklearn 패키지 같은 경우, 독립변수(x)를 2차원 배열로 넣어야 되나보다..
## (학습할 독립변수가 여러개가 될 수 있으니 그런 듯)

x = new_df[["check_contract"]]
y = new_df["new_fluctuation"]

In [37]:
## 학습세트 / 평가세트 분리하기

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [38]:
## 데이터 정규화(스케일링) 하기

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [39]:
## 모델 생성 및 평가하기

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [40]:
model.score(x_train, y_train)

0.6257256339749465

#### 62 % 정도 맞춘다는 것을 알 수 있다.

In [41]:
model.score(x_test, y_test)

0.6291208791208791

#### 테스트 세트 또한 비슷하다

In [42]:
## 각 feature들의 계수(coefficients)를 확인해볼 차례다.
## 어떤 feature가 생존에 큰 영향을 주는지 확인해볼 수 있으니까.
## 근데 여기선 컬럼 하나로 비교하므로 필요 없다.

model.coef_

array([[0.00684936]])

In [67]:
import numpy as np
One = np.array([1])
Two = np.array([0])
Three = np.array([1])
sample_company = np.array([One, Two, Three])

In [68]:
sample_company = scaler.transform(sample_company)

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [69]:
model.predict_proba(sample_company)

array([[0.37391908, 0.62608092],
       [0.38156946, 0.61843054],
       [0.37391908, 0.62608092]])

#### 예측도 해봤는데.. 이건 공부가 좀 더 필요할 듯 하다.